/**
    @description    styling for the form module
         @author    Kristina Auckland <kristina.auckland@gmail.com>
        @version    0.1
           @date    2014-04-03 12:31
           @type    module
          @notes
 */

/**
  @section        formActions
 */
.formActions {
    clear: both;
    padding: 3em 0 2em 0;
    text-align: center;
}

/**
  @section        formField
 */
.formField {
    @include span-columns(12,12);
}

/**
  @section        formContent
 */
.formContent {
    @include prefix(3);

    :first-child {
        margin-top: 0;
    }
}

/**
  @section        formCheckbox
 */
.formCheckbox {
    @include prefix(3);

    label {
        float: none;
        text-align: left;
        width: auto;
    }
}
