/**
 * @description    Styling for the templates information page ONLY, not to be used in the actual build.
 *
 *      @author    Kristina Auckland <kristina.auckland@gmail.com>
 *     @version    0.1
 *        @date    2013-05-14 09:57
 *
 *
 *     @example
 *
 *
 *
 *        @type    dev-layout
 *       @notes
 *      @ignore
 */


/**
 * @section        t-dev
 */
.t_dev {
    background: white;
    .layoutHeader,
    .layoutFooter {
        clear: both;
    }
    .layoutFooter {
        margin-top: 2em;
    }
    .contentPanel {
        @include span-columns(6,12); // each contentPanel is 6 of 12 cols.
        &:nth-child(2n) { @include omega; } // every second panel completes a row.
    }
    .navPrimary {
        @include span-columns(12,12);
        margin-bottom: 1em;
        li {
            float: left;
            margin-right: 1em;
        }
        a {
            display: block;
            padding: 0 1em;
            text-decoration: none;
        }
    }
    .navSecondary {

    }
    .ns_heading {
        font-size: 95%;
        font-weight: bold;
    }
    .pageTitle {
        font-size: 130%;
    }
    .ks_title {
        border-bottom: 2px solid #eee;
        font-size: 120%;
        font-weight: bold;
    }
}

/**
 * @section        t_kitchenSink
 */
.t_kitchenSink {
    .navSecondary {
        @include span-columns(2,12);
    }
    .contentMain {
        @include span-columns(10 omega,12);
    }
}

/**
 * @section        .FETO is - Front End Template Overview class
 */
.FETO  {
    table {
        width: 100%;
    }
    th {
        background: #eee;
    }
    th,
    td {
        border: 1px solid #ccc;
        font-size: 80%;
        padding: .25em .5em;
        text-align: left;
        vertical-align: top;
    }
    .notStarted {
        background: #ff0000;
    }
    .inProgress {
        background: #db96a8;
    }
    .complete {
        background: #81c272;
    }
    .thumbnail img {
        height: 75px;
        width: 75px;
    }
}
