<section class="contentSection contact" id="contact">
	<h2>Get in touch</h2>
	<p>Do you have a project you would like help with? You can either send me an <a href="mailto:email@kaelifa.com?subject=Let%E2%80%99s%20work%20together">Email</a> or fill in the form below. I would love to hear from you and help if I can.</p>

	<form name="form" action="" method="POST">
		<div class="formField formInput formText">
			<label for="Name">Name</label>
			<input id="Name"
				name="Name"
				type="text"
				placeholder="" />
		</div>

		<div class="formField formInput formEmail">
			<label for="Email">Email</label>
			<input id="Email"
				name="Email"
				type="email"
				placeholder="" />
		</div>

		<div class="formField formInput formURL">
			<label for="website">Website</label>
			<input id="website"
				type="url"
				placeholder="" />
		</div>

		<div class="formField formInput formText">
			<label for="Budget">Budget</label>
			<input id="Budget"
				name="Budget"
				type="text"
				placeholder="" />
		</div>

		<div class="formField formSelect">
			<label for="Budget">Budget</label>
			<select name="select"
				id="Budget">
				<option value="less then &#163;1500">less then &#163;1500</option>
				<option value="&#163;1500 - &#163;2500" selected="selected">&#163;1500 - &#163;2500</option>
				<option value="&#163;2500 - &#163;5000">&#163;2500 - &#163;5000</option>
				<option value="&#163;5000 - &#163;10000">&#163;5000 - &#163;10000</option>
				<option value="over &#163;10000">over &#163;10000</option>
			</select>
		</div>

		<div class="formField formTextarea">
			<label for="message">Comment</label>
			<textarea id="message" name="message"></textarea>
		</div>

		<div class="formField formActions">
			<button class="action">
				Send message
			</button>
		</div>
	</form>

</section>
